<h2>{{vm.survey.current.name}}抽奖名单
  <small>({{vm.survey.current.code}})</small>
</h2>

<form>
  <div class="row">
    <div class="col-md-4">
      <select class="form-control col-md-4">
        <option ng-repeat="level in ['三等奖', '二等奖', '一等奖', '特等奖']">{{level}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <span class="input-group-addon btn btn-primary" ng-click="vm.times=vm.times - 1">-</span>
        <input type="number" class="form-control" ng-model="vm.times"/>
        <span class="input-group-addon btn btn-primary" ng-click="vm.times = vm.times + 1">+</span>
      </div>
    </div>

    <div class="col-md-6">
        <span ng-if="vm.times > 0 && !vm.stopping">
          <span class="btn btn-primary" ng-click="vm.rollStart()" ng-if="!vm.rolling">抽奖</span>
          <span class="btn btn-primary" ng-click="vm.rollStop()" ng-if="vm.rolling">开奖！</span>
        </span>
      <span class="current-answer" ng-if="vm.current">
        {{vm.current.name}} - {{vm.current.mobile}}
        <span ng-if="vm.stopping">
        惯性前进中，马上开奖……
      </span>
      </span>
    </div>
  </div>
</form>
<div class="panel-body">
  <div class="row">
    <div class="col-md-6" ng-repeat="column in [0, 1]">
      <table class="table table-hover table-striped table-bordered">

        <colgroup>
          <col class="col-md-2"/>
          <col class="col-md-2"/>
          <col class="col-md-3"/>
          <col class="col-md-5"/>
        </colgroup>
        <thead>
        <tr>
          <th>姓名</th>
          <th>手机尾号</th>
          <th>中奖情况</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lottery in vm.lottery.listBySurvey(vm.survey.current.code)">
          <td>{{lottery.name}}</td>
          <td>{{lottery.mobile}}</td>
          <td>
            {{lottery.lucky}}
          </td>
          <td>
            <div ng-if="!lottery.got">
            <button type="button" class="btn btn-sm btn-danger" ng-if="!lottery.banned" ng-click="lottery.banned = true;">
              取消资格
            </button>
            <button type="button" class="btn btn-sm btn-success" ng-if="lottery.banned" ng-click="lottery.banned = false">
              恢复资格
            </button>
            <button type="button" class="btn btn-sm btn-primary" ng-if="lottery.lucky" ng-click="lottery.got = true">领奖</button>
            <button type="button" class="btn btn-sm btn-warning" ng-if="lottery.lucky" ng-click="lottery.lucky = ''">弃领</button>
            </div>
            <span ng-if="lottery.got" class="got"> 已领</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
