$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: 100%;
}

/* Space out content a bit */
body {
  margin: 0;
  padding: 0;
}

@media(min-height: 768px) {
  .content {
    margin-top: 0
  }
}

@media(min-height: 1050px) {
  .content {
    margin-top: (1050px - 768px) / 2;
  }
}

@media(min-height: 1200px) {
  .content {
    margin-top: (1200px - 768px) / 2;
  }
}

@media(min-height: 1080px) {
  .content {
    margin-top: (1080px - 768px) / 2;
  }
}

@media(min-height: 800px) {
  .content {
    margin-top: (800px - 768px) / 2;
  }
}

@media(min-height: 900px) {
  .content {
    margin-top: (900px - 768px) / 2;
  }
}

@media(min-height: 1200px) {
  .content {
    margin-top: (1200px - 768px) / 2;
  }
}

@media(min-height: 1600px) {
  .content {
    margin-top: (1600px - 768px) / 2;
  }
}

$foreground-color: #1b1b1b;
$foreground-color-primary: #f2933f;
$foreground-color-minor: #dddddd;
input.editable {
  border: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed lightgray;
}

.main-hint {
  position: absolute;
  width: 100%;
  padding-top: 12px;
  font-size: 18px;
}

.clickable {
  cursor: pointer;
  border-bottom: 1px dashed lightgray;
  display: inline-block;
  padding: 6px;
}
.lottery-fullscreen {
  font-family: "Microsoft YaHei", "Lantinghei SC", 'Open Sans Extrabold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: white url('../images/background.png') no-repeat center bottom;
  .content {
    vertical-align: middle;
    display: inline-block;
    width: 800px;
    height: 730px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $foreground-color;
    cursor: default;
    > div {
      text-align: center;
    }
    table {
      background: white;
    }
    > .logo {
      padding-top: 50px;
      background: url('../images/logo.png') no-repeat center bottom;
      img {
        visibility: hidden;
      }
    }
    > .name {
      text-transform: uppercase;
      font-size: 30px;
      padding: 26px 52px;
      margin: 32px;
      border-top: 3px solid $foreground-color;
      border-bottom: 3px solid $foreground-color;
      display: inline-block;
      font-weight: bold;
    }
    > .description {
      font-size: 24px;
      padding: 15px;
    }
    > .award-list {
      margin-top: 20px;
      display: inline-block;
      border: 2px solid $foreground-color-primary;
      border-radius: 35px;
      font-size: 25px;
      color: $foreground-color-primary;
      td, th {
        text-align: center;
        padding: 10px 20px;
        a {
          color: $foreground-color-primary;
          &:hover {
            text-decoration: none;
          }
        }
      }
      thead tr, tbody tr:not(:last-child) {
        border-bottom: 2px solid $foreground-color-primary;
      }
      td:not(:last-child), th:not(:last-child) {
        border-right: 2px solid $foreground-color-primary;
      }
    }
    > .current-award {
      font-size: 33px;
      margin: 25px 0;
    }

    > .toolbar {
      font-size: 24px;
      color: $foreground-color-minor;
      span:not(.btn) {
        display: inline-block;
        min-width: 10em;
        text-align: center;
        cursor: pointer;
      }
      a {
        color: $foreground-color-minor;
        &:hover {
          text-decoration: none;
        }
      }
    }
    > .rolling-lucky {
      margin: 29px 0 62px;
      padding: 0 52px;
      font-size: 45px;
      font-weight: bold;
      color: white;
      background: #ef933e;
      display: inline-block;
      border-radius: 35px;
      line-height: 138px;
      vertical-align: middle;
      width: 625px;
      overflow-y: -webkit-marquee;
    }
    > .lucky-list {
      margin: 29px 0 62px;
      padding: 0 52px;
      font-size: 26px;
      font-weight: bold;
      color: white;
      background: #ef933e;
      display: inline-block;
      border-radius: 35px;
      vertical-align: middle;
      overflow-y: auto;
      line-height: 170px;
      max-height: 170px;
      width: 625px;
      > .inner-list {
        display: inline-block;
        margin: 6px 0;
        vertical-align: middle;
        line-height: 50px;
        > .inner-item {
          margin: 0 6px;
          display: inline-block;
          > .name {
            vertical-align: bottom;
            margin-right: 6px;
          }
          > .mobile {
            color: $foreground-color-minor;
          }
        }
      }
    }
    > .award {
      padding-top: 12px;
      font-size: 40px;
    }
    > .import-area textarea {
      height: 265px;
      margin-bottom: 32px;
    }
    .player-list {
      font-size: 14px;
      max-height: 300px;
      overflow-y: auto;
    }
    .player-preview tbody td {
      text-align: left;
    }
    .lucky-player-info {
      text-align: left !important;
      max-width: 800px;
      .mobile {
        color: gray;
      }
    }
  }
  &.step-ready .current-award {
    margin-top: 130px;
  }
  &.step-main .current-award {
    margin-top: 14px;
  }
}

.btn.btn-cancel {
  font-size: 18px;
  border: none;
  color: white;
  background: #ccc;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.relative {
  position: relative;
  input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.layout-main {
  min-height: 500px;
}

/* Custom page footer */
.footer {
  background: #808285;
  padding: 19px;
  color: white;
}

.container-narrow > hr {
  margin: 30px 0;
}

.survey-thumb {
  display: inline-block;
  width: 160px;
  height: 208px;
  background: url("../images/covers.png");
  position: relative;
  .i-index {
    position: absolute;
    left: 12px;
    top: 6px;
    color: white;
  }
  .i-glyph {
    position: absolute;
    top: 60px;
    left: 40px;
    color: white;
    font-size: 5em;
  }
  .i-name {
    position: absolute;
    color: white;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 6px;
    text-align: center;
    bottom: 6px;
    left: 1em;
    right: 1em;
  }
}

h2 small {
  margin-left: 6px;
}

.current-answer {
  font-size: 22px;
  color: green;
}

.got {
  color: red;
}

.text-limited {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.text-limited-md {
  max-width: 10em;
}

.text-limited-sm {
  max-width: 6em;
}

.col-2em {
  width: 2em;
}

.col-4em {
  width: 4em;
}

.col-6em {
  width: 6em;
}

.col-14em {
  width: 14em;
}
