<div class="logo">
  <div class="logo-content">
  </div>
</div>

<div class="lottery-fullscreen step-main">
  <div class="content">
    <div class="name">
      {{vm.lottery.name}}
    </div>
    <div class="current-award">
      {{vm.award.name}} ( {{vm.numOfClaimedAwards}} / {{vm.award.count}} )
    </div>

    <div class="rolling-lucky text-limited">
      <p ng-repeat="currentPlayer in vm.currentPlayers">
        <span>{{currentPlayer.name}}</span>
        <span ng-if="!vm.rolling" class="btn btn-default btn-cancel" ng-click="vm.giveUp(currentPlayer)">弃权</span>
      </p>
    </div>

    <div class="toolbar">
      <span ng-if="vm.numOfClaimedAwards < vm.award.count">
        <span class="enter_triggered" ng-if="!vm.rolling" ng-click="vm.start()">按回车键继续抽奖</span>
        <span ng-if="vm.rolling">
          <span ng-if="vm.stopping">
            正在停转，请稍候……
          </span>
          <span class="enter_triggered" ng-if="!vm.stopping" ng-click="vm.stop()">
            按回车键停转
          </span>
        </span>
      </span>
      <a ng-href="#!/award/{{vm.award.id}}/summary" ng-if="vm.numOfClaimedAwards >= vm.award.count">查看中奖名单</a>
    </div>
  </div>
</div>
