<div class="logo">
  <div class="logo-content">
  </div>
</div>

<div class="lottery-fullscreen step-cover">
  <div class="content">
    <div class="name">
      {{vm.lottery.name}}
    </div>
    <div class="description">
      {{vm.lottery.description}}
    </div>
    <table class="award-list">
      <colgroup>
        <col style="width:158px" />
        <col style="width:165px" />
        <col style="width:302px"/>
      </colgroup>
      <thead>
      <tr>
        <th>奖项</th>
        <th>数量</th>
        <th>奖品</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="award in vm.lottery.awards | orderBy:'id':true">
        <td><a ng-href="#!/award/{{award.id}}/ready">{{award.name}}</a></td>
        <td>{{award.count}}</td>
        <td>
          <span>{{award.item}}</span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="alert">
      <span class="btn btn-danger"  ng-if="vm.allowReset()" ng-click="vm.resetAll()">清空中奖记录</span>
      <a ng-href="#!/luckyList" class="btn btn-success"  ng-if="vm.allowReset()">查看中奖名单</a>
    </div>
  </div>
</div>
