<div class="lottery-fullscreen step-ready" hotkey="{enter: goToMain(vm.playId, vm.awardId)}">
  <div class="content">
    <div class="logo">
      <img src="images/logo.png"/>
    </div>
    <div class="name">
      {{vm.lottery.name}}
    </div>
    <div class="current-award">
      {{vm.award.name}} {{vm.award.count}}名
    </div>
    <div class="toolbar">
      <a class="btn btn-danger" ng-click="vm.reset()" ng-if="vm.hasHistory()">重置本轮抽奖数据</a>
      <a ui-sref="play.main({awardId: vm.award.id})">按回车键开始抽奖</a>
    </div>
  </div>
</div>
