<div class="lottery-fullscreen step-cover">
  <div class="content">
    <div class="logo">
      <img src="images/logo.png"/>
    </div>
    <div class="name">
      <input type="text" ng-model="vm.lottery.name" class="editable" placeholder="活动名称"/>
    </div>
    <div class="description">
      <input type="text" ng-model="vm.lottery.description" class="editable" placeholder="活动说明"/>
    </div>
    <table class="award-list">
      <colgroup>
        <col style="width:100px"/>
        <col style="width:158px"/>
        <col style="width:165px"/>
        <col style="width:302px"/>
        <col style="width:100px"/>
      </colgroup>
      <thead>
      <tr>
        <th>序号</th>
        <th>奖项</th>
        <th>数量</th>
        <th>奖品</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="award in vm.lottery.awards">
        <td>
          <input type="text" class="editable" ng-model="award.id" placeholder="抽奖序号"/>
        </td>
        <td>
          <input type="text" class="editable" ng-model="award.name" placeholder="奖项名称"/>
        </td>
        <td>
          <input type="text" class="editable" ng-model="award.count" placeholder="数量"/>
        </td>
        <td>
          <input type="text" class="editable inline" ng-model="award.items" placeholder="奖品"/>
        </td>
        <td>
          <div class="btn-group">
            <span class="btn btn-link" ng-if="!$last" ng-click="vm.lottery.removeAward(award)">
              <i class="glyphicon glyphicon-minus"></i>
            </span>
            <span class="btn btn-link" ng-if="$last" ng-click="vm.lottery.addAward()">
              <i class="glyphicon glyphicon-plus"></i>
            </span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="alert">
      <span class="btn btn-primary" ng-click="vm.lottery.importJson()">导入Json</span>
      <span class="btn btn-primary" ng-click="vm.lottery.exportJson()">导出Json</span>
      <a class="btn btn-success" ng-href="#!/players">下一步：导入抽奖名单</a>
    </div>
  </div>
</div>
