<div class="lottery-fullscreen step-cover">
  <div class="content">
    <div class="name">
      <input type="text" ng-model="vm.lottery.name" class="editable" placeholder="活动名称"/>
    </div>
    <div class="description">
      <input type="text" ng-model="vm.lottery.description" class="editable" placeholder="活动说明"/>
    </div>
    <table class="award-list">
      <colgroup>
        <col style="width:80px"/>
        <col style="width:128px"/>
        <col style="width:95px"/>
        <col style="width:232px"/>
        <col style="width:130px"/>
        <col style="width:70px"/>
      </colgroup>
      <thead>
      <tr>
        <th>序号</th>
        <th>奖项</th>
        <th>数量</th>
        <th>奖品</th>
        <th>一次抽?人</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="award in vm.lottery.awards">
        <td>
          <a>{{award.id}}</a>
        </td>
        <td>
          <input type="text" class="editable" ng-model="award.name" placeholder="奖项名称"/>
        </td>
        <td>
          <input type="text" class="editable" ng-model="award.count" placeholder="数量"/>
        </td>
        <td>
          <input type="text" class="editable inline" ng-model="award.item" placeholder="奖品"/>
        </td>
        <td>
          <input type="text" class="editable inline" ng-model="award.concurrentHits" placeholder="人数"/>
        </td>
        <td>
          <div class="btn-group">
            <span class="btn btn-link" ng-click="vm.lottery.removeAward(award)">
              <i class="glyphicon glyphicon-minus"></i>
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 0; font-size: 0" colspan="5" style="padding: 0px 0px">
          <span class="btn btn-link" ng-click="vm.lottery.addAward()">
            <i class="glyphicon glyphicon-plus"></i>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <a style="margin-top: 15px" class="btn btn-success" ng-click="vm.onContinue()" ng-href="#!/players">下一步：导入抽奖名单</a>
  </div>
</div>
