<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#layout-main-menu">
        <span class="sr-only">切换菜单</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/">调查问卷抽奖工具 - ThoughtWorks</a>
    </div>

    <div class="collapse navbar-collapse" id="layout-main-menu">
      <ul class="nav navbar-nav">
        <li ng-href-active=""><a href="#!/lottery/list">抽奖方案</a></li>
        <li ng-href-active=""><a href="#!/survey/show">待抽奖问卷</a></li>

      </ul>
      <div class="navbar-form navbar-right">
        <div ng-if="!vm.user">
        <span class="btn btn-link" ng-click="vm.register()">没有账号？点此注册</span>
          <span class="btn btn-primary" ng-click="vm.login()">登录</span>
        </div>
        <div ng-if="vm.user">
          欢迎您，{{vm.user.nickname}}!
          <span class="btn btn-primary" ng-click="vm.logout()">注销</span>
        </div>
      </div>
    </div>
  </div>
</nav>