<h2>欢迎使用金数据抽奖管理系统！<small>(点击表单开始)</small></h2>

    <a href="#!/play/1/import" class="btn btn-primary">导入名单</a>
    <!--<div>-->
      <!--<div>-->
        <!--<a ng-href="#!/survey/{{survey.id}}/lottery/list" ng-repeat="survey in vm.survey.listByUser()" class="survey-thumb" title="{{survey.name}}">-->
          <!--<span class="i-index">{{$index + 1}}</span>-->
          <!--<span class="i-glyph glyphicon glyphicon-send"></span>-->
          <!--<span class="i-name">{{survey.name}}</span>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
