<div class="lottery-fullscreen">
  <div class="content" ng-init="method = 0">
    <div class="name">
      {{vm.lottery.name}}
    </div>

    <div class="toolbar">
      <a class="btn btn-select btn-warning" ng-click="method = 0">金数据导入</a>
      <a class="btn btn-select btn-warning" ng-click="method = 1">手动导入</a>
    </div>

    <div class="import-section" ng-if="method === 0" ng-include="'views/data/players-fragment-golden-data-import.html'"></div>
    <div class="import-section" ng-if="method === 1" ng-include="'views/data/players-fragment-manual-import.html'"></div>

    <div class="import-page-nav toolbar">
      <a ng-click="vm.clear()" class="btn btn-danger">清空名单</a>
      <a ng-href="#!/overview" ng-click="vm.lottery.save()" class="btn btn-primary">下一步：准备抽奖</a>
    </div>
  </div>
</div>
