<h2>[ {{vm.survey.name}} ]抽奖方案
  <small>({{vm.survey.id}})</small>
</h2>
<div class="alert alert-info">
  您可以预先排定一个或多个抽奖方案，激活一个，并且复制它的回调地址，最后填写到金数据表单详情的“设置|数据提交|将数据以JSON格式发送给第三方”中并“保存设置”
</div>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" ng-click="vm.lottery.create(vm.survey.id)">新建方案</button>
  </div>
</div>
<table class="table table-hover table-striped table-bordered">

  <colgroup>
    <col class="col-14em"/>
    <col class=""/>
    <col class="col-6em"/>
    <col class="col-4em"/>
    <col class=""/>
    <col class="col-6em"/>
    <col class="col-14em"/>
  </colgroup>
  <thead>
  <tr>
    <th>名称</th>
    <th>说明</th>
    <th>启用</th>
    <th>密码</th>
    <th>回调地址</th>
    <th>状态</th>
    <th>抽奖页地址</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="lottery in vm.lottery.listBySurvey(vm.survey.id) | crudList">
    <td>
      {{lottery.$}}
      <div ng-if="!lottery.$.editing">
        {{lottery.name}}
        <div class="pull-right">
          <button type="submit" ng-disabled="lottery.$.waiting" class="btn btn-primary btn-xs" ng-click="lottery.$.edit()">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" ng-disabled="lottery.$.waiting" ng-click="lottery.$.cancel()" class="btn btn-default btn-xs">
            <i class="fa fa-ban"></i>
          </button>
        </div>
      </div>
      <div ng-if="lottery.$.editing" class="input-group">
        <input type="text" class="form-control" ng-model="lottery.name" />
        <button class="btn btn-primary btn-xs input-group-addon" ng-click="lottery.$.save()">
          <i class="fa fa-save"></i>
        </button>
        <button class="btn btn-danger btn-xs input-group-addon" ng-click="lottery.$.remove()">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </td>
    <td>
      {{lottery.description}}
    </td>
    <td>
      <label><input type="checkbox" ng-model="lottery.active"/>启用</label>
    </td>
    <td>
      {{lottery.password|boolean}}
    </td>
    <td>
      {{lottery.callback | blank}}
    </td>
    <td>
      {{lottery.status | lotteryStatus | blank}}
    </td>
    <td>
      <a ng-href="#!/lottery/{{lottery.id}}/play" target="_blank">点右键复制抽奖页地址</a>
      <a class="btn btn-xs btn-default pull-right" target="_blank" ng-href="#!/lottery/{{lottery.id}}/play"
         title="预览抽奖页"><i class="fa fa-external-link"></i></a>
    </td>
  </tr>
  </tbody>
</table>

